<div ng-controller="tableCtr">
		<!--<input type="text" ng-model="id">{{id}}-->
		 <a ng-click="createNewUser()" class="btn btn-default">create new user</a>
		
		<form>
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-addon"><i class="fa fa-search"></i></div>
					<input type="text" class="form-control" placeholder="Search" ng-model="searchFilter">
				</div>
			</div>
		</form>

		<table class="table table-bordered table-stripped mainTable">
			<tr>
				<th><a href="" ng-click="sortType = 'id'; sortReverse = !sortReverse">Id  </a>
					<span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
					<span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
				</th>
				<th>
					<a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">Name</a>
					<span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
					<span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
				</th>
				<th>
					<a href="" ng-click="sortType = 'age'; sortReverse = !sortReverse">Age</a>
					<span ng-show="sortType == 'age' && sortReverse" class="fa fa-caret-up"></span>
					<span ng-show="sortType == 'age' && !sortReverse" class="fa fa-caret-down"></span>
				</th>
				<th>
					<a href="" ng-click="sortType = 'gender'; sortReverse = !sortReverse">Gender</a>
					<span ng-show="sortType == 'gender' && sortReverse" class="fa fa-caret-up"></span>
					<span ng-show="sortType == 'gender' && !sortReverse" class="fa fa-caret-down"></span>
				</th>
				<th>
					<a href="" ng-click="sortType = 'eyeColor'; sortReverse = !sortReverse">Eye Color</a>
					<span ng-show="sortType == 'eyeColor' && sortReverse" class="fa fa-caret-up"></span>
					<span ng-show="sortType == 'eyeColor' && !sortReverse" class="fa fa-caret-down"></span>
				</th>
				<th>Picture</th>
				<th>About</th>
				<th>
					<a href="" ng-click="sortType = 'company'; sortReverse = !sortReverse">Company</a>
					<span ng-show="sortType == 'company' && sortReverse" class="fa fa-caret-up"></span>
					<span ng-show="sortType == 'company' && !sortReverse" class="fa fa-caret-down"></span>
				</th>
				<th>
					<a href="" ng-click="sortType = 'address'; sortReverse = !sortReverse">Address</a>
					<span ng-show="sortType == 'address' && sortReverse" class="fa fa-caret-up"></span>
					<span ng-show="sortType == 'address' && !sortReverse" class="fa fa-caret-down"></span>
				</th>
				<th class="email">
					<a href="" ng-click="sortType = 'email'; sortReverse = !sortReverse">E-mail</a>
					<span ng-show="sortType == 'email' && sortReverse" class="fa fa-caret-up"></span>
					<span ng-show="sortType == 'email' && !sortReverse" class="fa fa-caret-down"></span>
				</th>
				<th>
					<a href="" ng-click="sortType = 'isActive'; sortReverse = !sortReverse">Active</a>
					<span ng-show="sortType == 'isActive' && sortReverse" class="fa fa-caret-up"></span>
					<span ng-show="sortType == 'isActive' && !sortReverse" class="fa fa-caret-down"></span>
				</th>
				<th>
					<a href="" ng-click="sortType = 'registered'; sortReverse = !sortReverse">registered</a>
					<span ng-show="sortType == 'registered' && sortReverse" class="fa fa-caret-up"></span>
					<span ng-show="sortType == 'registered' && !sortReverse" class="fa fa-caret-down"></span>
				</th>
				<th>Edit</th>
				<th>Del</th>
			</tr>
			
			<tr ng-repeat="user in usersData | orderBy: sortType : sortReverse |filter: searchFilter">
				<td>{{user.id}}</td>
				<td>{{user.name}}</td>
				<td>{{user.age}}</td>
				<td>{{user.gender}}</td>
				<td>{{user.eyeColor}}</td>
				<td><img src="{{user.picture}}" alt=""></td>
				<td>{{user.about}}</td>
				<td>{{user.company}}</td>
				<td>{{user.address}}</td>
				<td class="email">{{user.email}}</td>
				<td>{{user.isActive| yesFilter}}</td>
				<td>{{user.registered}}</td>
				 <td><a ng-click="editUser(user.id)" class="btn btn-xs btn-primary">edit</a></td>
            <td><a ng-click="deleteUser(user.id)" class="btn btn-xs btn-danger">delete</a></td>

			</tr>
		</table>
	</div> <!--tableCtr-->